/* ===========================
   ADD CAR PAGE STYLING
=========================== */
.addcar-page {
  background: #e5e5e5;
  min-height: 100vh;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-weight: bold;
  color: #2d3e2f;
}

.image-box {
  width: 100%;
  height: 200px;
  background: #bfbfbf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #333;
  cursor: pointer;
}

.input-box {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #c8c8c8;
}

.textarea-box {
  height: 80px;
  margin-top: 10px;
  background: #c8c8c8;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.add-btn {
  background: #c69628;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
}

.add-btn:hover {
  background: #b18422;
}

